%h1
  = auto_link(@idea.title)
%hr
- if @comments.present?
  .list-group
    - @comments.select(&:persisted?).each do |comment|
      = div_for(comment, class: 'list-group-item') do
        - if comment.user.try(:image_url)
          = image_tag(comment.user.image_url, width: 30, height: 30, alt: comment.user.nickname, title: comment.user.nickname).html_safe
          = auto_link(comment.body)
        - else
          = auto_link(comment.body)
        .pull-right
          イイネ！: #{comment.likes.count}
          - if logged_in? && comment.likes.exists?(user: current_user)
            = link_to 'イイネ！済み', '#', class: 'btn btn-primary btn-sm disabled'
          - elsif logged_in?
            = link_to 'イイネ！', idea_comment_likes_path(@idea, comment), method: :post, remote: true, class: 'btn btn-primary btn-sm js-like'
          - if comment.created_by?(current_user) || current_user.try(:admin?)
            = link_to '削除', idea_comment_path(@idea, comment), method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか？' }


- if logged_in?
  = form_for [@idea, @comment] do |f|
    - if @comment.errors.any?
      .alert.alert-danger
        %ul
          - @comment.errors.full_messages.each do |msg|
            %li
              = msg
    .form-group
      = f.text_area :body, class: 'form-control', placeholder: 'コメント'
    = f.submit 'コメントを送信する', class: 'btn btn-success'
- else
  %p
    コメントを追加するためには#{ link_to 'ログイン', '/auth/twitter' }が必要です。
