%h1 デザインビギナーズのアイデア帳
.jumbotron
  %p
    デザインビギナーズのミートアップでやりたいことをたくさん集めるサイトです。デザイン関連で勉強したいことを「アイデア」として追加して、参考になる情報(ブログのエントリや書籍の情報など)をコメントで追加します。

  %p
    アイデアやコメントを追加するためにはログインが必要です。

- if logged_in?
  = form_for @idea do |f|
    - if @idea.errors.any?
      .alert.alert-danger
        %ul
          - @idea.errors.full_messages.each do |msg|
            %li
              = msg
    .form-group
      = f.text_field :title, class: 'form-control', placeholder: 'アイデア'
    = f.submit 'アイデアを送信する', class: 'btn btn-success'

%hr

.list-group
  - @ideas.each do |idea|
    .list-group-item
      = link_to idea.title, idea
