%h1 デザインビギナーズのアイデア帳
.jumbotron
  %p
    デザインビギナーズのミートアップでやりたいことをたくさん集めるサイトです。デザイン関連で勉強したいことを「アイデア」として追加して、参考になる情報(ブログのエントリや書籍の情報など)をコメントで追加します。

= form_for @idea do |f|
  - if @idea.errors.any?
    .alert.alert-danger
      %ul
        - @idea.errors.full_messages.each do |msg|
          %li
            = msg
  .form-group
    = f.text_field :title, class: 'form-control', placeholder: 'アイデア'
  = f.submit 'アイデアを送信する', class: 'btn btn-success'

%hr

.list-group
  - @ideas.each do |idea|
    = div_for(idea, class: 'list-group-item') do
      = link_to idea do
        - if idea.user.try(:image_url)
          = image_tag(idea.user.image_url, width: 30, height: 30, alt: idea.user.nickname, title: idea.user.nickname).html_safe
          = idea.title
        - else
          = idea.title
      .pull-right
        イイネ！: #{idea.likes.count}
        - if logged_in? && idea.likes.exists?(user: current_user)
          = link_to 'イイネ！済み', '#', class: 'btn btn-primary btn-sm disabled'
        - elsif logged_in?
          = link_to 'イイネ！', idea_likes_path(idea), method: :post, remote: true, class: 'btn btn-primary btn-sm js-like'
        - if idea.created_by?(current_user) || current_user.try(:admin?)
          = link_to '削除', idea_path(idea), method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか？' }
