!!!
%html
  %head
    %title DesignBeginnersのネタ帳
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-default{:role => "navigation"}
      .container
        .navbar-header
          = link_to 'Design Beginners', root_path, class: 'navbar-brand'
    .container
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-danger
          = flash[:alert]
      = yield
