!!!
%html
  %head
    %title デザインビギナーズのアイデア帳
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-default#topbar{:role => "navigation"}
      .container
        .navbar-header
          = link_to 'デザインビギナーズのアイデア帳', root_path, class: 'navbar-brand'
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if logged_in?
              %li= link_to 'ログアウト', logout_path
            - else
              %li= link_to 'Twitterでログイン', '/auth/twitter'
    - if flash[:notice]
      .alert.alert-success
        .container
          = flash[:notice]
    - if flash[:alert]
      .alert.alert-danger
        .container
          = flash[:alert]
    - if content_for?(:top)
      = yield(:top)
    .container
      = yield
